<div class="card ipod">
    <div class="img-container">
        <img src="images/ipod.png" class="card-img img-responsive" alt="...">
        <div class="card-img-overlay interface">
            <ul class="menu nav flex-column nav-tabs d-flex align-items-center">
                <li class="nav-item">
                    <a class="nav-link active btn btn-primary" asp-page="/" id="index" data-bs-toggle="tab" tabindex="0" autofocus></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-primary" asp-page="/CV" data-bs-toggle="tab" id="cv" tabindex="0"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-primary" asp-page="/Experiences" id="experiences" data-bs-toggle="tab" tabindex="0"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active btn btn-primary" asp-page="/Contact" id="contact" data-bs-toggle="tab" tabindex="0"></a>
                </li>
            </ul>

            <div class="scroll-container mx-auto" id="scroll-container">
                <div class="lr row mx-auto justify-content-center">
                    <div class="partition top"></div>
                </div>
                <div class="lr mx-auto row justify-content-center">
                    <div class="partition left"></div>
                    <button type="button" class="rounded-circle select align-self-center" tabindex="-1"></button>
                    <div class="partition right"></div>
                </div>
                <div class="lr row mx-auto justify-content-center">
                    <div class="partition bottom"></div>
                </div>
            </div>

        </div>

    </div>

</div>